<div class = 'modal-header title'>
  Sign Up/In
</div>
<div class='modal-body form-group'>
  <p>Enter an email and password below and either sign in to an existing account or sign up.</p><br/>
  <form>
    <div class ='col-md-12'>
      <input class="form-control" type="text" id="email" name="email" placeholder="Email" ng-model="email"/>
    </div>
    <br/><br/><br/>
    <div class = 'col-md-12'>
      <input class='form-control' type="password" id="password" name="password" placeholder="Password" ng-model="password"/>
    </div>
    <br/><br/><br/>
    <div class='col-md-6'>
        <button class="btn btn-success btn-block" name="signin" ng-click="loginUser();">Sign In</button>
      </div>
      <div class='col-md-6'>
      <button class="btn btn-outline-default btn-block" name="signup" ng-click="createUser();">Sign Up</button>
      </div>
      <div class='col-md-6'>
        <button class="btn btn-success btn-block" name="facebook" ng-click="signInWith('google');">Login with Google</button>
      </div>
    </form>
    <!-- Container where we'll display the user details -->
    <br/><br/><br/>
    <div class="quickstart-user-details-container">
      Firebase sign-in status: <span id="quickstart-sign-in-status">{{ message }}</span>
    </div>
  </div>
