<div ng-controller='FormController'>
    <div class='modal-header'>
        Create Your Tour
    </div>
    <div class='modal-body form-group'>
      <form>
        <label>Title:</label>
        <input class='form-control' ng-model='title' type='text'></input>

        <label>Your name:</label>
        <input class='form-control' ng-model='name' type='text'></input>

        <label>School or University:</label>
        <input class='form-control' ng-model='school' type='text'></input>

        <label>Major:</label>
        <input class='form-control' ng-model='major' type='text'></input>

        <label>Price (hourly):</label>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input class="form-control" type="number" ng-model='price'>
        </div>

        <label>Description:</label>
        <textarea class='form-control' ng-model='description'></textarea>

        <label>Meet Location:</label>
        <input class='form-control' ng-model='location' type='text'></input>
        <div>
            <ui-gmap-google-map center="map.center" options="options" zoom="map.zoom"></ui-gmap-google-map>
        </div>
      </form>
    </div>

    

    <div class='modal-footer'>
        <button type='submit' ng-click='submit(title);' class="btn btn-success">Create</button>
        <button class="btn btn-outline-default" ng-click='cancel()'>Cancel</button>        
    </div>
</div>
