<body ng-controller='ProviderController'>
    <div class="header" ng-init="saveAuthStatus()">
      <!-- nav bar -->
      <nav>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <a href="/#/"><h2 class="title">Future Insight</h2></a>
            </div>
            <div class="col-md-2 text-right" id="listB">
              <button class='btn btn-success navB' ng-click='openForm()'>Add a listing</button>
            </div>
            <div class="col-md-2 text-left">
              <button class='btn btn-success navB' ng-click='logout()'>Log out</button>
            </div>
          </div>
        </div>
      </nav>
    <hr>
    <!-- provider ad listing:  -->
    <div class="row list" ng-init="getAds()">
    <!-- filterSearchModel:id -->
      <provider-ads class="col-xs-6 col-md-4" ng-repeat="post in ads | filter: myFilter | startFrom: (currentPage - 1) * pageSize | limitTo: pageSize" item = "post" ></provider-ads>
    </div>

    <div id="pagination">
      <ul uib-pagination total-items="filteredSearch.length" ng-model="currentPage" item-per-page="pageSize" ></ul>
    </div>
  </div>
