 <body ng-controller='MainController' ng-init=>
  <div class="header">
    <!-- nav bar -->
    <nav ng-if="isUserLoggedIn()">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">

              <a href="/#/"><img src="/client/styles/logotest2.png" width="300px" height="60px"></a>

             </div>
            <div class="col-md-2 text-right" id="listB">
             <button class='btn btn-success navB'><a href="/#/providerDash" class= 'title'> Your Dashboard</a></button>
            </div>
            <div class="col-md-2 text-left" id="listB">
             <button class='btn btn-success navB' ng-click='openForm()'>Add a listing</button>
            </div>
            <div class="col-md-2 text-center">
              <button class='btn btn-success navB' ng-click='logout()'>Log out</button>
            </div>
          </div>
        </div>
    </nav>
    <div class="header">
    <!-- nav bar -->
    <nav ng-if="!isUserLoggedIn()">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <a href="/#/"><img src="/client/styles/logotest2.png" width="300px" height="60px"></a>

             </div>
            <div class="col-md-2 text-right" id="listB">
             <button class='btn btn-success navB' ng-click='openLogin()'>Add a listing</button>
            </div>
            <div class="col-md-2 text-left">
              <button class='btn btn-success navB' ng-click='openLogin()'>Log in</button>
            </div>
          </div>
        </div>
    </nav>
    <top-carousel></top-carousel>
    <!-- search bar  -->
    <div class='container-fluid'>
      <div class='control-group controls searchBar'>
        <div class='row'>
          <div class='col-md-offset-1 col-md-5 colFive'>
            <input class="form-control" type='text' name='school' placeholder='Enter School Name Here' ng-model='searchModel.school'>
          </div>
          <div class='col-md-5 colFive'>
            <input class="form-control" type='text' name='major' placeholder='Enter Major Here' ng-model='searchModel.major'>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- provider ad listing:  -->
    <div class="row list" ng-init="getAds()">
        <provider-ads class="col-xs-12 col-sm-6 col-md-4" ng-repeat="post in ads | orderBy:'-created_at' | filterSearchModel:this:searchModel | startFrom: (currentPage - 1) * pageSize | limitTo: pageSize" item = "post" ></provider-ads>
    </div>

    <div id="pagination">
      <ul uib-pagination total-items="filteredSearch.length" ng-model="currentPage" item-per-page="pageSize" ></ul>
    </div>
  </body>
