http --json post localhost:3000/api/schools name="Stanford University" \
     address="stanford ave" city="Stanford" state="CA"

http --json post localhost:3000/api/schools name="University of California, Berkeley" \
     address="Berkeley rd" city="Berkeley" state="CA"

http --json post localhost:3000/api/users username="ewest" \
     email="ewest@gmail.com" firstName="Elizabeth" lastName="West" password="hello"

http --json post localhost:3000/api/users username="jking" \
     email="jking@gmail.com" firstName="James" lastName="King" password="hello"

http --json post localhost:3000/api/posts title="chemistry tour" price="20.0" \
     major="chemistry" price="40.50" description="Pulvinar etiam non quam lacus suspendisse"

http --json post localhost:3000/api/posts title="art school" price="40.30" \
     major="liberal art" description="Non pulvinar neque laoreet suspendisse interdum consectetur libero"

http --json post localhost:3000/api/comments comment="boring guide"
http --json post localhost:3000/api/comments comment="awesome tour"

http --json post localhost:3000/api/bookings time="Wed Aug 31 17:44:36 PDT 2016" \
     place="downtown palo alto"
http --json post localhost:3000/api/bookings time="Wed Aug 31 17:44:36 PDT 2016" \
     place="berkeley univeristy library"
