body {
  margin: 0;
  margin-top: 10px;
  font-family: Helvetica,arial, sans-serif;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

h1 {
  margin-bottom: 10px;
}


nav {
  margin: 0 5% 0 5%;
}

.list {
  margin: 0 5% 0 5%;
}


#container {
  clear: both;
  margin-top: 10px;
}

input {
  width: 360px;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}

.borderonad {
  border: solid 1px grey;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.error {
  border: red solid 4px;
  padding: 10px;
  margin: 0 10px;
}

.clean {
  border: #efe solid 2px;
  padding: 10px;
  margin: 0 10px;
}

.btn-outline-default {
  background-color: transparent;
  color: inherit;
  border-color: grey;
}

.searchBar{
  text-align: center;
  padding: 0 10% 0 10%;
}

.col-md-5{
  padding: 0;
}

.col-md-2{
  padding: 0;
}

