<div ng-init = "getMap(37.7749, -122.4194)">
    <div class='modal-header'>
        <h2 class="title">{{adModalData.title}}</h2>
    </div>
    <div class='modal-body'>
        <img id="adProfileIcon" ng-if="adModalData.imgUrl" ng-src="{{ adModalData.imgUrl }}" width="100px" height="100px" />

        <h4>Your name:</h4>
        <p>{{adModalData.name}}</p>
        <h4>School or University:</h4>
        <p>{{adModalData.school}}</p>
        <h4>Major:</h4>
        <p>{{adModalData.major}}</p>
        <h4>Price (hourly):</h4>
        <p>${{adModalData.price}}</p>
        <h4>Description:</h4>
        <p>{{adModalData.description}}</p>
        <h4>Meet Location:</h4>
        <p>{{adModalData.address}}</p>
        <ui-gmap-google-map ng-if="render" center="map.center" options="options" zoom="map.zoom">
            <ui-gmap-marker coords="map.markers[0].coords" icon="map.markers[0].icon" idkey="map.markers[0].id"></ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
    <div class='modal-footer'>
        <button type='submit' class="btn btn-success" ng-click='showbooking = true'>Book</button>
        <button class="btn btn-outline-default" ng-click='cancel()'>Cancel</button>
    </div>
</div>
<div ng-show='showbooking'>
    <div class='modal-body'>
        <form>
            <label>Your Name:</label>
            <input class='form-control' ng-model='username' type='text'></input>
            <label>Your Email:</label>
            <input class='form-control' ng-model='useremail' type='text'></input>
            <label>Your Phone Number:</label>
            <input class='form-control' ng-model='userphone' type='text'></input>
            <label>Your Message</label>
            <textarea class='form-control' ng-model='usermessage'></textarea>
        </form>
    </div>
    <div class='modal-footer'>
        <button type='submit' class="btn btn-success">Send Message</button>
        <button class="btn btn-outline-default" ng-click='cancel()'>Cancel</button>
    </div>
</div>
</div>
